<!DOCTYPE html>
{% extends 'blog/header.html' %}
{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container">
    <p>We are a Cutting-edge, Innovative and Solution-driven Tech Start-up

SILEX SECURE LAB LIMITED is a leading Nigerian IT company duly registered in 2014 with its office in Abuja, Nigeria’s Federal Capital Territory.

Silex Secure Lab offers services in Cyber Security, Software development, Programming, Data analytics, Cloud computing, Animation, Website development, Fintech, business processes and solutions. We blend Business and Internet Intelligence by developing innovative cyber investigative, encrypted communications and business solutions that are targeted at enabling our clients operate more efficiently.

Over the years, we have offered our services to Nigerian Government Agencies, Private companies and individuals. As a CSR company, we have trained over 200 web developers in Abuja, the Federal University of Technology (FUT) Minna, Jos and other cities.

Our services are in two aspects; Technical services and Training services. We provide services that are of high standard and in line with global best practices. Our services are aimed at introducing Efficiency, enhancing Productivity and repositioning our clients for Profitability.

Our team comprises of cyber experts, software and web developers, programmers, Animators and Graphic designers that consistently deliver state-of-the-art solutions and trainings in various areas including Website development, Cyber security, Mobile Apps development, Motion graphics, Social media strategies, Internet/Intranet applications and communication & network management experts.

Our success is founded on Professionalism, Integrity and Exceptional client service delivering the highest standard of solutions tailored to the technology needs and objectives of our clients.

It is our corporate culture to ensure our clients are satisfied by delivering any project within the stipulated project duration and according to global best practices.

</p>
</div>
</body>
{% endblock %}
</html>