
<!doctype html>

{% extends 'ecomm/base.html' %}
<!--{% load ecomm_extras %}-->

{% load static %}
 {% block tittle %}<title>Sent</title>{% endblock %}

{% block bg %}
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'product_store' %}">Home</a>
                        </li>
                        <li class="active">Password Reset</li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}

{% block content %}


<br>
<br>

 <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                 <p>check your email to reset your password</p>
                 <p style="color:blue;"> Dint get the link ?
                 </p><a href="{% url 'resetpassword' %}" class="password">Resend </a>
            </div>
        </div>

 </div>
<br>
<br>
<br>

{% endblock %}