<!doctype html>
<!--FOOER AREA-->
   {% load static %}
    <div class="footer-area">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="footer-top section-padding text-center">
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer_white_logo.png" alt=""></a>
                        </div>
                        <div class="footer-address">
                            <p>20,floor,Queenslad Victoria Building. 60 california street california USA</p>
                            <p><a href="mailto:mehedidb@gmail.com">Hellow@OwlTheme.com</a></p>
                            <p><a href="callto:+8800000001111">+88 000 0000 1111</a></p>
                        </div>
                        <div class="footer-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Teams of use</a></li>
                            <li><a href="#">Privicy Policy</a></li>
                            <li><a href="#">SiteMap</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-copyright">
                        <p>&copy; 2017 <a href="#">Owl Restaurant</a> All Right Reserved. Coded by <a href="http://themeforest.net/user/bdexpert">BDEXPERT</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <!--====== PLUGINS JS ======-->
    <script src="{% static 'js/vendor/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/spectragram.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <script src="{% static 'js/timepicker.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <!--===== ACTIVE JS=====-->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>