<!doctype html>

{% extends 'rapp/base.html' %}

{% load static %}
        <!--HHOME SLIDER AREA-->

{% block content %}

    <!--ABOUT AREA-->
    <section class="about-area section-padding">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="area-title">
                        <h2>Our <span>Story</span></h2>
                    </div>

                    <div class="about-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="about-img">
                                <img src="{% static 'img/about/about_one.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="about-img">
                                <img src="{% static 'img/about/about_two.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--PROMOTIONS AREA-->
    <section class="special">
        <div class="container wow fadeIn" style="color:red">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Specials</h2>
                        <h3>Specials Promotion</h3>
                    </div>
                </div>
            </div>
        <div class="row">
            {% for food in object_list %}
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-promotions text-center">
                        <div class="promotions-img">
                            <img src="{{food.imageURL}}" alt="" width="100" height="100">
                            <div class="pakage-rate">
                                <p>Form <span>₦{{food.price|floatformat:2}}</span></p>
                            </div>
                        </div>
                        <div class="promotions-details">
                            <h2>{{food.food_name}}</h2>
                            <button  data-product='{{food.id}}' data-action="add" class="read-more update-cart">Add to cart</button>
                            <a href="#" class="btn btn-success">Order now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <!--PROMOTIONS AREA END-->

    <!--MENUS AREA-->
    <section class="menusfood imagesarea section-padding" id="menu">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Delicius</h2>
                        <h3>Today’s menu</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="food-menu-list-menu">
                        <ul>
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter=".breakfast">Breakfast</li>
                            <li class="filter" data-filter=".lunch">Lunch</li>
                            <li class="filter" data-filter=".dinner">Dinner</li>
                            <li class="filter" data-filter=".coffee">Coffe</li>
                            <li class="filter" data-filter=".snacks">Snacks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row food-menu-list">
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu breakfast coffee snacks">
                    <div class="food-menu-img">
                        <a href="{% static 'img/menu/menu_1.jpg' %}" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_1.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu dinner snacks">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_2.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_2.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                   <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu breakfast">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_3.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_3.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu dinner lunch breakfast snacks">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_4.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_4.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu lunch coffee">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_5.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_5.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu breakfast">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_6.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_6.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu lunch dinner">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_7.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_7.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
                <div class="mix col-md-3 col-lg-3 col-sm-6 col-xs-12 single-menu lunch dinner">
                    <div class="food-menu-img">
                        <a href="img/menu/menu_8.jpg" class="menu-popup" data-effect="mfp-zoom-out"><img src="img/menu/menu_8.jpg" alt=""></a>
                    </div>
                    <div class="food-menu-details">
                        <h4>Cupcake Recipes</h4>
                        <p class="menu-price">$120.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--MENUS AREA END-->


    <!--INSTAGRAM FEED-->
    <section class="instagram-area section-padding">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h4>Follow us on Instagram <a href="#">@OWLTheme</a></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="instagram-feed-content text-center">
                        <ul class="instagram-feed"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--INSTAGRAM FEED END-->

<script>
    {% for message in messages %}
        var my_message='{{message}}'
        alert(my_message)
        console.log({message})
    {% endfor %}
</script>



{% endblock %}