
{% extends 'rapp/base.html' %}

    <title>
        {% block tittle %}Password Reset{% endblock %}
    </title>

{% block head_slide %}
<header class="top-area single-page about-page" id="home">
{% endblock %}



{% block bg %}
    <div class="page-barner-bg"></div>
{% endblock %}




{% block banner %}
        <!--PAGE BARNER AREA-->
        <div class="page-barner-area">
            <div class="container wow fadeIn">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="barner-text">
                            <h1><span>Password Reset</span></h1>
                            <ul class="page-location">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li class="active"><a href="{% url 'login' %}">Reset Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PAGE BARNER AREA END-->

{% endblock %}

{% block content %}

    <section class="reservation-area home-three section-padding">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="area-title text-center">
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
    <div class="container">
        <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <form class="main-reservaton-form" action="" method="post">
                        {% csrf_token %}
                         {% for errors in form.non_field_errors %}
                            <h5 class="" style="color:#ff9494" align="">
                                <i class="fa fa-exclamation-circle"> {{ errors|striptags }}</i>
                            </h5>
                            {% endfor %}
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                 <label for=""><i class="fa fa-envelope-o"></i></label>
                                    {{ form.email }}
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                                     <button type="submit">Request</button>
                            </div>
                      </form>
                </div>
        </div>
    </div>

{% endblock %}